body {
  background: linear-gradient(#eee, #fffeee 90%) no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', serif;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#content #form-results,
#content form,
#content #schemes,
#content #visibility,
#results {
  display: flex;
  flex-direction: column;

  padding: 15px;
}
#content form fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#content #form-results #form-color {
  display: flex;
  justify-content: center;
}
#content #schemes [class='results'] {
  display: flex;
  justify-content: space-around;
}
#content #schemes div[id] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#results #colors {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#content #visibility .vis-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;

  padding-bottom: 15px;
}
#content #visibility .vis-group div {
  padding: 10px;
}

span.chip {
  display: inline-block;

  height: 180px;
  width: 180px;
  border: 9px solid white;
}
p.chip-info {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: start;
  align-items: center;

  background-color: #333;
  height: 100px;
  margin-top: 0%;
}
nav li {
  padding: 20px;
  list-style-type: none;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: rgb(237, 144, 255);
}
nav li a:focus {
  border: 2px solid #aaa;
  background-color: #555;
  padding: 20px;
}
nav li a:hover {
  border: 2px solid rgb(244, 189, 255);
  padding: 20px;
}
nav li a:active {
  border: 2px solid rgb(216, 91, 240);
  padding: 20px;
}

fieldset {
  background-color: #ddd;
  border: 2px solid rgb(237, 144, 255);
}

input[id*='r'] {
  border: none;
  border-bottom: 2px solid red;
}
label[for='rIn'] {
  text-decoration: underline dashed red 1.5px;
}
input[id*='g'] {
  border: none;
  border-bottom: 2px solid green;
}
label[for='gIn'] {
  text-decoration: underline dashed green 1.5px;
}
input[id*='b'] {
  border: none;
  border-bottom: 2px solid blue;
}
label[for='bIn'] {
  text-decoration: underline dashed blue 1.5px;
}

button {
  height: 50px;
  font-family: 'Raleway', serif;
  font-weight: 500;
  font-size: 15px;
  border: 2px solid rgb(237, 144, 255);
}
button[type='submit'] {
  border: 2px solid rgb(216, 91, 240);
}
button[type='reset'] {
  border: 2px solid rgb(255, 112, 112);
}

*[data-vis='false'] {
  display: none !important;
}

h1,
h2,
h3 {
  font-family: 'Courgette', sans-serif;
}
h4,
h5,
h6 {
  font-size: medium;
  font-weight: bold;
}
