body {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #eee;
}

span.chip {
    display: inline-block;

    height: 200px;
    width: 200px;
    border: 7px solid white
}
p.chip-info {
    text-align: center;
}

div#results, div#form-results {
    display: flex;
    flex-direction: column;
}

div#results [id], div#form-results #form-color {
    display: flex;
    justify-content: space-around;
}